.container {
  height: 50vh;
}

.imageContainer {
  background-color: #393939;
  background: linear-gradient(0deg, rgba(57, 57, 57, 1), rgba(57, 57, 57, 0.75)),
    url("../../Images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  height: 40vh;
}

.greyBackground1 {
  background: #393939;
  height: 25vh;
  width: 100%;
}

.whiteBackground {
  background: #f2f2f2;
  height: 20vh;
  width: 100%;
}

.greyBackground2 {
  background: #393939;
  height: 15vh;
  width: 100%;
}

.textContainer {
  transform: skew(0deg, -10deg);
  background: -webkit-linear-gradient(170deg, #d2ac47, #f6ed88, #d2ac47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
