@keyframes shine {
  to {
    background-position: right;
  }
}

.button {
  cursor: pointer;
  outline: none;
  padding: 3px;
  width: 80%;
  border-radius: 2rem;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  background-position: left;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  > div {
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: 0.2s;
  }
}

.withAccelerometer {
  background: linear-gradient(130deg, #f6ed88 35%, #bb9837 50%, #f6ed88 65%);
  background-size: 300%;
  &:hover {
    > div {
      transition: 0.2s;
      opacity: 0.9;
    }
  }
}

.withoutAccelerometer {
  background: linear-gradient(130deg, #bb9837 35%, #f6ed88 50%, #bb9837 65%);
  background-size: 300%;
  &:hover {
    animation: shine 2s infinite;
    > div {
      transition: 0.2s;
      opacity: 0.9;
    }
  }
}

.black {
  > div {
    background-color: #393939;
  }
}

.white {
  > div {
    background-color: #f2f2f2;
  }
}
